{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.libelle,{
        'label': 'Nom de l\'association',
        'attr':{'placeholder': 'example : Association des étudiants'},
        'autofocus': true
    }) }}
    {{ form_row(form.typeEntite,{
        'label': 'Type d\'association',
        'attr':{'placeholder': 'example : Association loi 1901'},
        'autofocus': true
    })  }}
    {{ form_row(form.ville) }}
    {{ form_row(form.localisation) }}
    {{ form_row(form.pays) }}
{{ form_rest(form) }}
    <button class="btn btn-orange btn-block"><i class="fa fa-save fa-align-left"> </i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
