{% extends 'base.html.twig' %}

{% block title %}Mes Tontines par associations{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="h3 text-orange">Mes Tontines par associations</h1>
        <div class="accordion" id="accordionAssociation">
            {% for association in associations %}
                <div class="card">
                    <div class="card-header bg-orange d-flex justify-content-between" id="heading-{{ association.id }}">
                        <h3 class="mb-0 w-100">
                            <a class="text-light btn-block text-left text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse-{{ association.id }}" aria-expanded="true" aria-controls="collapse-{{ association.id }}">
                                {{ association.libelle }}
                            </a>
                        </h3>
                    </div>

                    <div id="collapse-{{ association.id }}" class="collapse {{ associations.first.id==association.id? "show" }}" aria-labelledby="heading-{{ association.id }}" data-parent="#accordionAssociation">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Libelle</th>
                                    <th>Montant Par Membre</th>
                                    <th>Frequence Paiement</th>
                                    <th>Nombre d'inscrits</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tontine in association.tontines %}
                                    <tr>
                                        <td>{{ tontine.libelle }}</td>
                                        <td>
                                            <span class="badge badge-danger rounded-pill font-weight-bolder">{{ tontine.montantParMembre | format_currency('EUR') }}</span>
                                        </td>
                                        <td>
                                            <span class="badge badge-info">{{ tontine.frequencePaiementLibelle }}</span>
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary">{{ tontine.inscriptions|length }}</span>
                                        </td>
                                        <td>
                                            <div class="btn-group-sm">
                                            <a class="btn btn-sm btn-orange" href="{{ path('chikowa_tontine_show', {'id': tontine.id}) }}">
                                                voir
                                            </a>
                                            <a class="btn btn-sm btn-outline-success" href="{{ path('chikowa_tontine_edit', {'id': tontine.id}) }}">modifier</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="border-top-style:hidden;">
                                        <td colspan="6" class="text-right">
                                            {% if not association.tontines.empty %}
                                                <button data-tontine="{{ tontine.id }}"
                                                        data-tontine-libelle="{{ tontine.libelle }}"
                                                        data-association="{{ association.id  }}"
                                                        data-url="{{ path('chikowa_inscription_liste', {'id': tontine.id}) }}"
                                                        data-association-libelle="{{ association.libelle }}"
                                                        data-toggle="modal" data-target="#modal-afficher-participants-tontine"
                                                        class="btn rounded-pill btn-outline-info">
                                                    <i class="fas fa-user-friends"></i> Afficher les participants
                                                </button>
                                                <a class="btn rounded-pill btn-info" href="{{ path('chikowa_inscription_new',{'id':tontine.id }) }}">
                                                    <i class="fas fa-user-plus"></i> Inscrire un membre
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6" class="text-right">
                                        <a class="btn rounded-pill btn-orange" href="{{ path('chikowa_tontine_creation_association',{'id':association.id }) }}">
                                            <i class="fa fa-euro-sign"></i> Creer une nouvelle tontine
                                        </a>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-afficher-participants-tontine" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-orange" id="modalLabel">Participant tontine</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
