<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Le chikowa{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand text-orange font-weight-bolder" href="{{ path(not app.user ? "home_index" : "chikowa_dashboard" ) }}">Le Chikowa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-orange" href="#">Comment ça marche ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-orange" href="#">Chercher un chikowa</a>
                    </li>
                    {% if app.user is null %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="btn btn-link text-orange font-weight-bold text-decoration-none"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="btn btn-orange rounded-pill"><i class="fas fa-user-circle"></i> Ouvrir un compte</a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-orange font-weight-bold" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                         <i class="fa fa-user-cog"></i>   Mon Profile
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-orange" href="#">
                                <i class="fa fa-info-circle"></i>
                                Mes Informations
                            </a>
                            <a class="dropdown-item text-orange" href="#">
                                <i class="fa fa-user-secret"></i>
                                Mot de passe
                            </a>
                            <a class="dropdown-item text-orange" href="#">
                                <i class="fa fa-users"></i> Mon association
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-orange" href="{{ path('app_logout') }}">
                              <i class="fa fa-sign-out-alt"></i>  Deconnexion
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
               <div class="align-self-center font-weight-bolder">{{ message }}</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
{% block body %}
{% endblock %}
</main>
<!-- FOOTER -->
<footer class="container fixed-bottom">
    <p class="float-right text-orange"><a href="#">Back to top</a></p>
    <p class="text-orange">&copy; 2019-2020 Chikowa WaniDev. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>
