{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            {% if  associations.empty %}
                <div class="col-12 d-flex justify-content-center">
                    <div class="col-5">
                        <a href="{{ path('chikowa_association_new') }}" class="btn btn-block btn-outline-orange font-weight-bolder btn-lg">
                            <i class="fa fa-users"></i>
                             Créer une association pour commenncer
                        </a>
                    </div>
                </div>
            {% else %}
                {% set nombreAssociation= associations|length  %}
                <div class="col-4">
                    <div class="card border-warning">
                        <a href="{{ path('chikowa_association_index') }}" class="card-hover text-decoration-none">
                            <div class="card-body text-center">
                                <i class="fa fa-5x fa-hands-helping"></i>
                                <h4 class="card-title">
                                    {{ "Mon association|Mes associations"|trans({"%count%":nombreAssociation}) }}
                                </h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{ "%count% Association|%count% Associations"|trans({"%count%":nombreAssociation}) }}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-warning">
                        <a href="{{ path('chikowa_tontine_index') }}" class="card-hover text-decoration-none">
                            <div class="card-body text-center">
                                <i class="fa fa-5x fa-euro-sign"></i>
                                <h4 class="card-title">Tontine</h4>
                                <h6 class="card-subtitle mb-2 text-muted"> {{ "%count% Tontine|%count% Tontines"|trans({"%count%": nombreTontine}) }}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-warning ">
                        <a href="{{ path('chikowa_membre_index') }}" class="card-hover text-decoration-none">
                            <div class="card-body text-center">
                                <i class="fa fa-5x fa-users"></i>
                                <h4 class="card-title">Membres</h4>
                                <h6 class="card-subtitle mb-2 text-muted">{{ "%count% Membre|%count% Membres"|trans({"%count%": nombreMembre}) }}</h6>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
