{% extends 'base.html.twig' %}

{% block title %}Les Membres par Association{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="h3 text-orange">Les Membres  par tontines</h1>
    <div class="accordion" id="accordionAssociation">
        {% for association in associations %}
        {% for tontine in association.tontines %}
        <div class="card">
            <div class="card-header bg-orange d-flex justify-content-between" id="heading-{{ association.id }}">
                <h3 class="mb-0 w-100">
                    <a class="text-light btn-block text-left text-decoration-none" type="button" data-toggle="collapse" data-target="#collapse-{{ tontine.id }}" aria-expanded="true" aria-controls="collapse-{{ tontine.id }}">
                        {{ tontine.libelle }}
                    </a>
                </h3>
                <a href="{{ path('chikowa_tontine_add_membre',{'id': tontine.id}) }}" class="btn btn-orange align-self-center float-right rounded-pill"><i class="fa fa-user-plus"> </i></a>
            </div>

            <div id="collapse-{{ tontine.id }}" class="collapse {{ association.tontines.first.id==tontine.id? "show" }}" aria-labelledby="heading-{{ tontine.id }}" data-parent="#accordionAssociation">
                <div class="card-body">

                    <table class="table table-hover table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Telephone</th>
                            <th>Inscription Tontine</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for inscription in tontine.inscriptions %}
                            <tr>
                                <td>{{ inscription.membre.nom }}</td>
                                <td>{{ inscription.membre.telephone }}</td>
                                <td>
                                    {% for participations in inscription.membre.inscriptions %}
                                    <span class="badge badge-pill badge-success">
                                        {{ participations.tontine.libelle }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-pill badge-warning">
                                        Aucune inscription
                                    </span>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('chikowa_membre_show', {'id': inscription.membre.id}) }}" class="btn btn-outline-orange">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path('chikowa_membre_edit', {'id': inscription.membre.id}) }}" class="js-edit-membre btn btn-outline-warning">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    <a href="{{ path('chikowa_membre_delete', {'id': inscription.membre.id}) }}" class="js-edit-membre btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">
                                <a href="{{ path('chikowa_tontine_add_membre',{'id': tontine.id}) }}" class="btn btn-orange align-self-center float-right rounded-pill">
                                    <i class="fa fa-user-plus"> </i> Inscrire un Membre
                                </a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
